.spend-container {
  display: flex;
  flex-direction: column;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 1.5rem;
}

mat-form-field {
  width: 100%;
}

// Category Radio Button
.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 10px;
}
