<div class="spend-list-container">
  <mat-card-header>
    <mat-card-title>
      <h2> 個人支出履歴 </h2>
    </mat-card-title>
  </mat-card-header>

  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      matSortActive="createDate"
      matSortDirection="desc"
      matSort>
      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 日付 </th>
        <td mat-cell *matCellDef="let element"> {{ element.createDate | date:"MM/dd" }} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> カテゴリー </th>
        <td mat-cell *matCellDef="let element"> {{ element.category | category:false }} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 金額 </th>
        <td mat-cell *matCellDef="let element"> {{ element.amount | number }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="resultsLength" [pageSize]="8"></mat-paginator>
  </div>
</div>
