<mat-toolbar color="primary">
  <span class="example-fill-remaining-space"> Donn </span>
  <span *ngIf="authService.uid">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon> menu </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/spend']">
        <mat-icon> attach_money </mat-icon> 入力
      </button>
      <button mat-menu-item [routerLink]="['/spend-list']">
        <mat-icon> show_chart </mat-icon> 履歴
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon> subdirectory_arrow_right </mat-icon> ログアウト
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
