.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-menu-item .mat-icon {
  margin-right: 5px;
}

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 50px;

  .menu-tab-btn {
    width: 33%;
    text-align: center;
    margin-top: 0.5rem;
    color: #ffffff;

    .mat-icon {
      width: 100%;
      font-size: 2rem;
    }
  }
}
