<mat-toolbar color="primary">
  <span class="example-fill-remaining-space"> Donn </span>
  <span *ngIf="authService.uid">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon> menu </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/spend']"> 入力 </button>
      <button mat-menu-item [matMenuTriggerFor]="spendListMenu"> 履歴 </button>
      <button mat-menu-item (click)="logout()"> ログアウト </button>
    </mat-menu>

    <mat-menu #spendListMenu="matMenu">
      <button mat-menu-item [routerLink]="['/spend-list']"> 共通 </button>
      <button mat-menu-item [routerLink]="['/spend-private-list']"> 個人 </button>
    </mat-menu>

  </span>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
