<mat-toolbar color="primary">
  <span class="example-fill-remaining-space"> Donn </span>
  <span *ngIf="authService.uid">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon> menu </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/spend']">
        <mat-icon> attach_money </mat-icon> 入力
      </button>
      <button mat-menu-item [routerLink]="['/spend-list']">
        <mat-icon> show_chart </mat-icon> 履歴
      </button>
      <button mat-menu-item [routerLink]="['/aggregate']">
        <mat-icon> equalizer </mat-icon> 集計
      </button>
      <button mat-menu-item [matMenuTriggerFor]="systemSettings">
        <mat-icon> settings </mat-icon> 設定
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon> subdirectory_arrow_right </mat-icon> ログアウト
      </button>
    </mat-menu>

    <mat-menu #systemSettings="matMenu">
      <button mat-menu-item [routerLink]="['/fixed-spend-list']">
        <mat-icon> loop </mat-icon> 固定支出管理
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
<mat-toolbar
  *ngIf="storeObj.isShowFooter && authService.uid"
  color="primary"
  class="footer"
>
  <div
    class="menu-tab-btn mat-tab-label"
    [routerLink]="['/spend']"
  >
    <mat-icon> add_box </mat-icon>
  </div>
  <div
    class="menu-tab-btn mat-tab-label"
    [routerLink]="['/spend-list']"
  >
    <mat-icon> show_chart </mat-icon>
  </div>
  <div
    class="menu-tab-btn mat-tab-label"
    [routerLink]="['/aggregate']"
  >
    <mat-icon> equalizer </mat-icon>
  </div>
</mat-toolbar>
