.spend-list-container {
  display: flex;
  flex-direction: column;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 1.5rem;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
